* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

.calculator {
  background-color: aquamarine;
  width: 280px;
  /* min-width: 400px; */
  height: 500px;
  margin: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.display {
  text-align: end;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.expression {
  flex-grow: 1;
}

.result {
  flex-grow: 2;
}

.input {
  text-align: center;

  flex-grow: 2;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.clear {
  grid-column: 1/3;
}

.result {
  grid-column: 3/5;
}

div {
  
  border: 1px solid black;
  font-size: 20px;
}
