* {
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
}

.calculator {
  background-color: aquamarine;
  width: 280px;
  /* min-width: 400px; */
  height: 500px;
  margin: auto;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.display {
  text-align: end;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.expression {
  flex-grow: 1;
}

.result {
  flex-grow: 2;
}

.input {
  text-align: center;

  flex-grow: 2;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.zero{
  grid-column: 1/2;
  grid-row: 5/6
}

.one{
  grid-row: 4/5;
}

.two{
  grid-column: 2/3;
  grid-row: 4/5;
}

.three{
  grid-column: 3/4;
  grid-row: 4/5;
}

.four{
  grid-row: 3/4;
}

.five{
  grid-column: 2/3;
  grid-row: 3/4;
}

.six{
  grid-column: 3/4;
  grid-row: 3/4;
}

.seven{
  grid-column: 1/2;
}

.eight{

}

.nine{

}

.point{
  grid-column: 2/3;
  grid-row: 5/6;
}


.clear {
  grid-column: 1 / span 2;
}

.result {
  grid-column: 3 / span 2;
}

.divide{
  grid-column: 4/5;
  grid-row: 1/2;
}

div {
  border: 1px solid black;
  font-size: 20px;
}
